body {
    background-color: #282c35;
  }

.keyword {
    color: #db49e6;
 }
.name {
    color: #9cdcfe;
 }
.builtfunction {
    color: #FFF9A5;
 }
.builterr {
    color: #F7A9A8;
 }
.strbyliteral {
    color: #32b4b2;
 }
.string {
    color: #ce915b;
 }
.int {
    color: #b5cea8;
 }
.float {
    color: #b5cea8;
 }
.delimiter {
    color: #ffff;
 }
 .char {
     color: #ce915b
 }
.imagnumber {
    color: #b5cea8;
 }
.operator {
    color: rgb(166, 206, 35);
 }
.type {
    color: #b7546d;
 }
 .comment {
     color: #5f6158;
 }
 .foo {
     color: #ff2f00;
 }
